html,body{
    height: 100%;
}

header{
    margin-bottom: 40px;
}

#content{
    height: auto;
    min-height: 100%;
    padding-bottom: 100px;
}

.wrapper{
    height:auto;
    min-height: 100%;
    padding-bottom: 100px; // 현재 푸터의 높이
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1f1f1f;
    color: white;
    height: 100px;
    position: relative;
    transform: translateY(-100%); // 높이의 100% 만큼 마이너스
}