.post-list-body{
    width: 1000px;
    margin: 0 auto;
}

#post-category{
    display: flex;
    margin-bottom: 20px;
}

.post-bar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}