.write-body{
    width: 850px;
    min-width: 500px;
    margin:0 auto;
}

.write-form{
    display: flex;
    flex-direction: column;
    gap : 10px;
}

.update-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}